<!--
Filename: contact-me.ejs
Author: Samantha Shirley (#301240317)
Date: 09/27/2023
-->

<%- include ('partials/header.ejs') %>

<!-- HEADER SECTION -->

<%- include ('partials/main_nav.ejs') %>

<!-- MAIN BODY SECTION -->

<main class="container">
  <section>
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <p>Coming soon</p>
  </section>
</main>

<!-- FOOTER SECTION -->

<!-- Copyright -->
<%- include ('partials/bottom_nav.ejs') %>
<!--Script Section-->
<%- include ('partials/footer.ejs') %>
